@model SportsGood

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="SportsGood" asp-action="Details"
                   asp-route-id="@Model.GoodsId">@Model.Name</a>
            </h3>
            <p>@Model.Description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-success" 
                   asp-controller="ShoppingCard" 
                   asp-action="AddToShoppingCard"
                   asp-route-goodId="@Model.GoodsId">Add To Card</a>
            </p>
        </div>
    </div>
</div>